body {
  background-color: #202c36;
  color: #ffffff;
}
header {
  background-color: #2b3844;
}
.search-bar-wrapper {
  background-color: #2b3844;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
}
input,
input::placeholder {
  color: #ffffff;
}
.regions-select {
  background-color: #2b3844;
  color: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
}

.country-card {
  background-color: #2b3844;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
}
.flag {
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
}
.single-country {
  background-color: #202c36;
  color: #ffffff;
}
.back-button {
  background: #2b3844;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
}
.single-country-flag {
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.0294384);
}
